@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-primary bg-primary text-white leading-loose;
    }

    .h1 {
        @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
    }

    .h2 {
        @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
    }

    .h3 {
        @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
    }

    .text-outline {
        -webkit-text-stroke: 1px #fff;
    }

    .text-outline-hover {
        -webkit-text-stroke: 1px #00ff99;
    }

    ::-webkit-scrollbar {
        width: 2px;
    }

    ::-webkit-scrollbar-track {
        background: none;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: #00ff99;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

@layer utilities {
    .input-autofill:-webkit-autofill {
        @apply bg-[#27272c] text-white border border-[#00ff99];
        -webkit-box-shadow: 0 0 0 50px #27272c inset;
        -webkit-text-fill-color: white;
    }

    .input-autofill:-webkit-autofill:focus {
        @apply border-accent;
        -webkit-box-shadow: 0 0 0 50px #27272c inset;
        -webkit-text-fill-color: white;
    }
}
